<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>


  <h2>Add Product</h2>
  <form method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
  </form>
  <br> <h1><a href="{% url 'shop_home' %}">Home Page</a></h1>


</body>
</html>
