

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
  <br> <h1><a href="{% url 'shop_home' %}">Home Page</a></h1>


  <h2>Product List</h2>
  {% for product in products %}
  <div>
    <h3>{{ product.pname }}</h3>
    <p>Price: {{ product.price }}</p>
    <p>Stock: {{ product.stock }}</p>
    <p>Image URL: {{ product.image.url }}</p> {# Debugging output #}
    <img src="{{ product.image.url }}" alt="{{ product.pname }}" style="width: 200px; height: auto;">
    
  </div>
  {% endfor %} 


</body>
</html>


